<!-- Views -->

<div id="login" th:replace="login">
</div>

<div id="logout">
    <p style="margin-top: 2em; text-align: center;">Logout effettuato.</p>
</div>

<div id="register" th:replace="register">
</div>

<div id="profile" th:replace="profile">
</div>



<!-- Messages -->

<div id="welcome">
    <p style="margin-top: 2em; text-align: center;">Benvenuto in Food Delivery, scegli un'opzione dal menu.</p>
</div>

<div id="loginerror">
    <p style="margin-top: 2em; text-align: center;">Username o password errati</p>
</div>