<!DOCTYPE html>
<html
	class="no-js"
	xmlns="http://www.w3.org/1999/xhtml" 
	xmlns:th="http://www.thymeleaf.org" 
    xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3"
    xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<head>
	<meta charset="UTF-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Food Delivery</title>
	<!-- food icons -->
	<link rel="stylesheet" type="text/css" href="/css/organicfoodicons.css" />
	<!-- demo styles -->
	<link rel="stylesheet" type="text/css" href="/css/demo.css" />
	<!-- menu styles -->
	<link rel="stylesheet" type="text/css" href="/css/component.css" />
	<script src="/js/modernizr-custom.js"></script>
</head>

<body>

	<!-- Main container -->
	<div class="container">
		<!-- Blueprint header -->
		<header class="bp-header cf">
			<div class="dummy-logo">
				<a href="/">
					<div class="dummy-icon foodicon foodicon--coconut"></div>				
					<h2 class="dummy-heading">Food Delivery</h2>
				</a>
			</div>
			<div class="bp-header__main">
				<span class="bp-header__present" style="font-size: 16px;"
					  th:text="'Benvenuto, ' + (${session.user == null} ? 'visitatore' : ${session.user.getUsername()})"></span>
				<div th:if="(${session.user == null})">
					<h3 class="bp-header__title">Effettua il login o registrati per accedere al tuo profilo</h3>
					<nav class="bp-nav">
						<a class="bp-button" href="/login" style="width: 8em;">Login</a>
						<a class="bp-button" href="/register" style="width: 8em;">Registrati</a>
					</nav>
				</div>
				<div th:if="(${session.user != null})">
					<nav class="bp-nav">
						<a class="bp-button" href="/profile" style="width: 8em;">Profilo</a>
						<a class="bp-button" href="/logout" style="width: 8em;">Logout</a>
					</nav>
				</div>
			</div>
		</header>

		<button class="action action--open" aria-label="Open Menu"><span class="icon icon--menu"></span></button>
		<nav id="ml-menu" class="menu">
			<button class="action action--close" aria-label="Close Menu"><span class="icon icon--cross"></span></button>
			<div class="menu__wrap">
				<ul data-menu="main" class="menu__level" tabindex="-1" role="menu" aria-label="Scegli cosa ordinare oggi">
					<li class="menu__item" role="menuitem"><a class="menu__link" data-submenu="submenu-1" aria-owns="submenu-1" href="#">Prenota un tavolo</a></li>
					<li class="menu__item" role="menuitem"><a class="menu__link" data-submenu="submenu-2" aria-owns="submenu-2" href="#">Ordine a domicilio</a></li>
				</ul>
				<!-- Submenu 1 -->
				<ul data-menu="submenu-1" id="submenu-1" class="menu__level" tabindex="-1" role="menu" aria-label="Tipo cucina">
					<li class="menu__item" role="menuitem" th:each="category : ${T(unipa.fooddelivery.models.RestaurantCategory).values()}">
						<a class="menu__link" th:href="'/restaurants/' + ${category}" th:text="${category.displayValue}"></a>
					</li>
				</ul>

				<!-- Submenu 1-1 -->
				<!-- <ul data-menu="submenu-1-1" id="submenu-1-1" class="menu__level" tabindex="-1" role="menu" aria-label="Sale %">
					<li class="menu__item" role="menuitem"><a class="menu__link" href="#">Fair Trade Roots</a></li>
					<li class="menu__item" role="menuitem"><a class="menu__link" href="#">Dried Veggies</a></li>
					<li class="menu__item" role="menuitem"><a class="menu__link" href="#">Our Brand</a></li>
					<li class="menu__item" role="menuitem"><a class="menu__link" href="#">Homemade</a></li>
				</ul> -->
				<!-- Submenu 2 -->
				<ul data-menu="submenu-2" id="submenu-2" class="menu__level" tabindex="-1" role="menu" aria-label="Tipo cucina">
					<li class="menu__item" role="menuitem" th:each="category : ${T(unipa.fooddelivery.models.RestaurantCategory).values()}">
						<a class="menu__link" href="#" th:text="${category.displayValue}"></a>
					</li>
				</ul>
				<!-- Submenu 2-1 -->
				<!-- <ul data-menu="submenu-2-1" id="submenu-2-1" class="menu__level" tabindex="-1" role="menu" aria-label="Special Selection">
					<li class="menu__item" role="menuitem"><a class="menu__link" href="#">Exotic Mixes</a></li>
					<li class="menu__item" role="menuitem"><a class="menu__link" href="#">Wild Pick</a></li>
					<li class="menu__item" role="menuitem"><a class="menu__link" href="#">Vitamin Boosters</a></li>
				</ul> -->
			</div>
		</nav>
		<div class="content" th:insert="content :: #__${path}__">
			<!-- Ajax loaded content here -->
		</div>
	</div>

	<!-- /view -->
	<script src="/js/classie.js"></script>
	<script src="/js/dummydata.js"></script>
	<script src="/js/main.js"></script>
	<script>
	(
		function() {
			var menuEl = document.getElementById('ml-menu'),
			mlmenu = new MLMenu(menuEl, {
				// breadcrumbsCtrl : true, // show breadcrumbs
				// initialBreadcrumb : 'all', // initial breadcrumb text
				backCtrl : false, // show back button
				// itemsDelayInterval : 60, // delay between each menu item sliding animation
				onItemClick: loadData // callback: item that doesn´t have a submenu gets clicked - onItemClick([event], [inner HTML of the clicked item])
			});

		// mobile menu toggle
		var openMenuCtrl = document.querySelector('.action--open'),
			closeMenuCtrl = document.querySelector('.action--close');

		openMenuCtrl.addEventListener('click', openMenu);
		closeMenuCtrl.addEventListener('click', closeMenu);

		function openMenu() {
			classie.add(menuEl, 'menu--open');
			closeMenuCtrl.focus();
		}

		function closeMenu() {
			classie.remove(menuEl, 'menu--open');
			openMenuCtrl.focus();
		}

		// simulate grid content loading
		var gridWrapper = document.querySelector('.content');

		function loadData(ev, itemName) {
			ev.preventDefault();

			closeMenu();
			gridWrapper.innerHTML = '<ul class="items">Caricamento in corso...</ul>';
			classie.add(gridWrapper, 'content--loading');
			setTimeout(function() {
				classie.remove(gridWrapper, 'content--loading');
				window.location.replace(ev.toElement.pathname);
			}, 700);
		}
	})();
	</script>
	
</body>

</html>
