<style>

    table.center {
        margin-left: auto; 
        margin-right: auto;
    }

    table, th, tr {
      border: 1px solid white;
    }
</style>

<div class="items">
    <div class="form-container" style="display: inline-block; width: 60%;">

        <div>
            <h2>Riepilogo</h2>
            <h3>Inserisci le ultime informazioni per completare il pagamento</h3>
        </div>
        
        <!-- 
            Qui viene gestita la tabella riepilogativa del pagamento.
            Ci sono due tabelle, una viene mostrata solo se si proviene dal carrello, l'altra se si proviene da una prenotazione
         -->

        <table class="center" cellpadding="10" th:if="${order != null}">
            <tr>
                <th><strong>Piatto</strong></th>
                <th><strong>Quantità</strong></th>
                <th><strong>Prezzo</strong></th>
            </tr>

            <tr th:each="dish : ${order.getDishesOrdered().keys()}">
                <th th:text="${dish.getName()}"></th>
                <th th:text="${order.getDishesOrdered().get(dish)}"></th>
                <th th:text="${#numbers.formatDecimal(dish.getPrice(), 0, 2)} + ' €'"></th>
            </tr>

            <tr>

                <th colspan="2" style="text-align: right;"><strong>Spese di consegna</strong></th>
                <th>
                    <strong>
                        <span th:text="${#numbers.formatDecimal(order.getDeliveryFee(), 0, 2) + ' €'}"></span>
                    </strong>
                </th>
            </tr>

            <tr>
                <th colspan="2" style="text-align: right;"><strong>Totale</strong></th>
                <th>
                    <strong>
                        <span th:text="${#numbers.formatDecimal(order.getInvoiceTotalFee(), 0, 2) + ' €'}"></span>
                    </strong>
                </th>
            </tr>
        </table>

        <table class="center" cellpadding="10" th:if="${reservation != null}">
            <tr>
                <th><strong>Piatto</strong></th>
                <th><strong>Quantità</strong></th>
                <th><strong>Prezzo</strong></th>
            </tr>

            <tr th:each="dish : ${reservation.getDishesOrdered().keys()}">
                <th th:text="${dish.getName()}"></th>
                <th th:text="${reservation.getDishesOrdered().get(dish)}"></th>
                <th th:text="${#numbers.formatDecimal(dish.getPrice(), 0, 2)} + ' €'"></th>
            </tr>

            </tr>

            <tr>
                <th colspan="2" style="text-align: right;"><strong>Totale</strong></th>
                <th>
                    <strong>
                        <span th:text="${#numbers.formatDecimal(reservation.getInvoiceTotalFee(), 0, 2) + ' €'}"></span>
                    </strong>
                </th>
            </tr>
            <tr>
                <th colspan="2" style="text-align: right;"><strong>Acconto da pagare (10% sul totale)</strong></th>
                <th>
                    <strong>
                        <span th:text="${#numbers.formatDecimal(reservation.getInvoiceTotalFee() * 10 / 100, 0, 2) + ' €'}"></span>
                    </strong>
                </th>
            </tr>
        </table>

        <!-- 
            FINE GESTIONE RIEPILOGO
         -->

        <br />

        <!-- 
            Qui viene gestito il form di conferma pagamento.
            Ci sono due form, uno viene mostrato solo se si proviene dal carrello, l'altro se si proviene da una prenotazione
         -->

        <form th:if="${order != null}" action="payment/order/result" id="paymentForm" method="POST">

            <div class="row">
                <div class="col-25">
                  <label for="paymentmethod">Metodo di pagamento</label>
                </div>
                <div class="col-75">
                  <select required="required" type="text" id="paymentmethod" name="paymentmethod">
                    <option th:each="method : ${T(unipa.fooddelivery.models.PaymentMethod).values()}"
                            th:text="${method.displayValue}"
                            th:value="${method}"></option>
                  </select>
                </div>
            </div>

            <div class="row">
                <div class="col-25">
                    <label for="deliverydate">Data e ora di consegna</label>
                </div>
                <div class="col-75">
                    <input required="required" type="datetime-local" id="deliverydate" name="deliverydate">
                </div>
            </div>

            <div class="row" style="text-align: center;">
                <input id="submit" style="margin-top: 2em; display: inline-block; float: none;" type="submit" value="Conferma Ordine">
        </div>

        </form>

        <form th:if="${reservation != null}" action="payment/reservation/result" id="paymentForm" method="POST">

            <div class="row">
                <div class="col-25">
                  <label for="paymentmethod">Metodo di pagamento</label>
                </div>
                <div class="col-75">
                    <select required="required" type="text" id="paymentmethod" name="paymentmethod">
                    <option th:each="method : ${T(unipa.fooddelivery.models.PaymentMethod).values()}"
                            th:if="${method != T(unipa.fooddelivery.models.PaymentMethod).CASH}"
                            th:text="${method.displayValue}"
                            th:value="${method}"></option>
                    </select>
                </div>
            </div>

            <div class="row">
                <div class="col-25">
                    <label for="seatsnumber">Numero di posti da prenotare</label>
                </div>
                <div class="col-75">
                    <select required="required" type="number" id="seatsnumber" name="seatsnumber">
                    <option th:each="i : ${#numbers.sequence(1, 20)}" th:value="${i}" th:text="${i}"></option>
                    </select>
                </div>
            </div>

            <div class="row">
                <div class="col-25">
                    <label for="reservationdate">Data e ora di prenotazione</label>
                </div>
                <div class="col-75">
                    <input required="required" type="datetime-local" id="reservationdate" name="reservationdate">
                </div>
            </div>

            <br />

            <div class="row" style="text-align: center;">
                    <input id="submit" style="margin-top: 2em; display: inline-block; float: none;" type="submit" value="Conferma Prenotazione">
            </div>

        </form>

        <!-- 
            FINE GESTIONE FORMS
         -->

    </div>
</div>