<div th:if="${session.user != null}"  style="margin-top: 10em; text-align: center;">
    <div class="form-container" style="display: inline-block; width: 60%;">
        <div>
            <p>Dati relativi all'account</p>
          </div>

          <div class="row">
            <div class="col-25">
              <label >User Name: </label>
            </div>
            <div class="col-25">
                <label th:text="${session.user.getUsername()}"></label>
              </div>
          </div>


          <div class="row">
            <div class="col-25">
              <label >Nome: </label>
            </div>
            <div class="col-25">
                <label th:text="${session.user.getName()}"></label>
              </div>
          </div>


          <div class="row">
              <div class="col-25">
                <label >Cognome: </label>
              </div>
              <div class="col-25">
                  <label th:text="${session.user.getSurname()}"></label>
                </div>
            </div>

          
            <div class="row">
                <div class="col-25">
                  <label >Data di Nascita: </label>
                </div>
                <div class="col-25">
                    <label th:text="${#dates.format(session.user.getBirthdate(), 'dd/MM/yyyy')}"></label>
                  </div>
              </div>
              
                <div class="row">
                    <div class="col-25">
                      <label >Indirizzo: </label>
                    </div>
                    <div class="col-25">
                        <label th:text="${session.user.getAddress()}"></label>
                      </div>
                  </div>
              
              
                  <div class="row">
                      <div class="col-25">
                        <label >E-mail: </label>
                      </div>
                      <div class="col-25">
                          <label th:text="${session.user.getEmail()}"></label>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-25">
                          <label >Numero di Telefono: </label>
                        </div>
                        <div class="col-25">
                            <label th:text="${session.user.getTelephoneNumber()}"></label>
                          </div>
                      </div>
            </div>
    </div>
</div>


         
