<div th:if="${session.user != null}"  style="margin-top: 10em; text-align: center;">
    <div class="form-container" style="display: inline-block; width: 60%;">
        <div>
            <p>Dati relativi all'account</p>
          </div>

          <div class="row">
            <div class="col-25">
              <label >User Name</label>
            </div>
            <div class="col-25">
                <label th:text="${session.user.getUsername()})"></label>
              </div>
          </div>
          <div class="row">
            <div class="col-25">
              <label >Password</label>
            </div>
            <div class="col-25">
                <label th:text="${session.user.getPassword()})"></label>
              </div>
          </div>

         
