<div class="items">

    <div>
        <h2>Elementi nel carrello</h2>
    </div>

    <div th:if="${shoppingcart.isEmpty()}">
      <h3>Il carrello è vuoto</h3>
    </div>

    <p th:if="${!shoppingcart.isEmpty()}"
       th:text="'Il totale è: ' + ${T(unipa.fooddelivery.Utilities).getInvoiceTotalFee(Collections.list(shoppingcart.keys()), 0.0)}"></p>

    <ul th:if="${!shoppingcart.isEmpty()}" class="items">
      <li th:each="dish : ${shoppingcart.keys()}" class="item">
          <div>
            <p style="font-size: 18px;" th:text="${dish.getName()}"></p>
            <div style="margin-left: 1em; text-align: left;">
              <span th:text="'Descrizione: ' + ${dish.getDescription()}"></span><br />
              <span th:text="'Prezzo: ' + ${dish.getPrice()}"></span><br />
              <span th:text="'Ingredienti: ' + ${dish.getIngredients()}"></span><br />
              <span th:text="'Allergeni: ' + ${dish.getAllergens()}"></span><br />
            </div>

            <div style="float: right; bottom: auto;">
            <a th:href="@{/shoppingcart/sub/{id}(id=${dish.getId()})}" class="bp-button-mini">- </a>
            <label th:text="(${session.shoppingcart.get(dish.getId()) == null} ? '0' :
                              ${session.shoppingcart.get(dish.getId())})"></label>
            <a th:href="@{/shoppingcart/add/{id}(id=${dish.getId()})}" class="bp-button-mini">+</a>
            </div>
          </div>
      </li>
    </ul>
</div>